<% content_for :meta_title, "sfdsfd" %>

<h1> 결투장 </h1>



To. ㅡㅡㅡ(Ex)ㅈ밥)
초대장
나는 ㅡㅡㅡ에게 ㅡㅡㅡ결투를 신청한다. 이를 받아들일 시 패자는 ㅡㅡㅡ를 할 것을 제안한다.
거절하는 이는 쫄보이다. 
승리조건             (공개/비공개)
                          ㄱ
ㄴ
From. ㅡㅡㅡ(Ex)너의 천적)
공유하기
<br><br>

 <form action='/applying_action' method='POST'>
    <input type="text" name="email">  에게 <button>결투신청</button>
    <br>결투내용 : <input type="text" name="content">
</form>

<br>

<% if user_signed_in? %>
   
    <h3>내가 한 결투 신청</h3>
    <% @fight.each do |f|%>
       
        <%if f.applicant == current_user%>
            
            <%if f.respondent_exist%>    
                [<%= f.respondent.email %>] 님에게 결투를 신청하셨습니다.
            <%else%>
                (아직등록안됨)[<%= f.temp_user %>] 님에게 결투를 신청하셨습니다.
            <%end %>
                결투내용 : <%=f.content%>
                

                
            <%if f.standard == 0 %>
                [수락대기중]<br>
            <%elsif f.standard ==2 %>
                [거절됨]<br>
            <%else%>
                [수락 완료]<br>
            <%end%>
            
    
   
        

             
        <%end%>
        
    <%end%>

    <h3>나에게 온 결투 신청</h3>
    <% @fight.each do |f|%>
      
        <%if f.respondent == current_user && f.respondent_exist %>
            [<%= f.applicant.email%>] 님께서 

            <%if f.standard == 1 %>
               신청하신 결투를 수락하셨습니다.
                결투내용 : <%=f.content%>

            <%elsif f.standard ==2 %>
                신청하신 결투를 거절하였습니다.
                결투내용 : <%=f.content%>

            <%else%>
                결투를 신청하셨습니다.
                결투내용 : <%=f.content%>
                <a href='/accept_fight/<%=f.id%>'>결투수락</a>
                <a href='/reject_fight/<%=f.id%>'>결투거절</a>
                
            <%end%>
            <br>

        <%elsif f.respondent_exist == false && f.temp_user == current_user.email %>
            [<%= f.applicant.email%>] 님께서 
            
           (아직 등록이안됨)
            <%if f.standard == 1 %>
               신청하신 결투를 수락하셨습니다.
                결투내용 : <%=f.content%>

            <%elsif f.standard ==2 %>
                신청하신 결투를 거절하였습니다.
                결투내용 : <%=f.content%>

            <%else%>
                결투를 신청하셨습니다.
                결투내용 : <%=f.content%>
                <a href='/accept_fight/<%=f.id%>'>결투수락</a>
                <a href='/reject_fight/<%=f.id%>'>결투거절</a>
            <%end%>
       
        <br>
        <%else%>
        
        <%end%>
       
    <%end%>



<%end%>

<br>
<div>
    <a href="/stat_board", method='GET'> stat_board </a>
</div>
<div>
    <a href="/ongoing", method='GET'> ongoing </a>
</div>
<div>
    <a href="/setting", method='GET'> setting </a>
</div>
<div>
    <a href="/leader_board", method='GET'> leader_board </a>
</div>



<div class="page-header">
  <h1>Share Dialog</h1>
</div>

<p>Click the button below to trigger a Share Dialog</p>

<a id="shareBtn" class="btn btn-success clearfix">Share</a>

<p style="margin-top: 50px">
  <hr />
  <div class="btn btn-small"  href="https://developers.facebook.com/docs/sharing/reference/share-dialog">Share Dialog Documentation</div>
</p>

<script>
document.getElementById('shareBtn').onclick = function() {
    
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        display: 'popup',
        action_properties: JSON.stringify({
            object: {
            
            'og:url': 'https://161d737c.ngrok.io/stat_board',
            'og:title': '제목내맘대루',
            'og:description': '아싸된당',
            'og:image': 'https://s-i.huffpost.com/gen/5024106/thumbs/o-PUPPIES-570.jpg?1'
            }
        })
        }, function(response) {
        // Action after response
        });

  //FB.ui({
    //method: 'share',
    //display: 'popup',
    //hashtag:'#결투장',
    //quote:"s히히",
    //href: 'https://161d737c.ngrok.io',
    //description: "메롱",
   
    
  //}, function(response){
      
  //});
}
</script>
