<!DOCTYPE html>
<html>
  <head>
    <title>Fightfield</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '189924545021222',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </head>

  <body>
      <% unless current_user %> 
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <% else %>
        <%= current_user[:name] %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    <%= yield %>
  </body>
</html>
